body {
    margin-top: 120px;
}

/* Menu */
.navbar-default {
    background: #00c3ff;
    border: 0;
    font-size: 18px;
	height: 60px;
}
.navbar-default a {
	color: #000 !important;
	padding-top: 20px !important;
	text-transform: uppercase;
}
.navbar-brand {
    font-size: 30px;
}

/* About me */
#left-col img {
	width: 100%;
	height: auto;
}
#right-col h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
#right-col p {
    font-size: 19px;
    line-height: 35px;
    text-align: justify;
}

/* My skills */
#skills {
	background-color: #f3f3f3;
}
#skills h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 40px;
}
#skills .row {
    text-align: center;
    padding: 40px;
    font-size: 35px;
}

/* Portfolio */
#portfolio h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 40px;
}
#portfolio .row {
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
}

/* Contact */
#contact {
	background-color: #f3f3f3;
}
#contact h2 {
	text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 40px;
}
#contact #textarea {
	resize: none;
	overflow: hidden;
	min-height: 80px;
}
#contact .btn {
	float: right;
}

/* Connect */
#social-media {
	background-color: #f3f3f3;
}
#social-media {
	text-align: center;
}
.fa {
	font-size: 80px;
	padding: 40px;
	/* color: #00c3ff; */
}
.fa:hover {
	color: #31c5ff;
	text-decoration: none;
}