/* Menu */
.navbar-default {
    background: #00c3ff;
    border: 0;
    font-size: 18px;
}
.navbar-brand {
	font-size: 30px;
	color: #fff !important;
	padding-top: 15	px;
}
#navbar a {
	color: #fff;
	padding-top: 17px;
	text-transform: uppercase
}
#navbar a:hover {
    background: #00b7ff;
}

/* Header */
#header {
	height: 100vh;
	background: url('../img/background.jpeg') no-repeat;
}
.transbox {
	height: 100vh;
	/* background-color: #000; */
	background-color: rgba(0, 0, 0, 0.7);
}
#header h1 {
	text-align: center;
	padding-top: 45vh;
	text-transform: uppercase;
	color: #fff;
	font-size: 80px;
	font-weight: bold;
}

/* About me */
#about-me {
	padding: 50px 0;
}
#left-col img {
	width: 60%;
	height: auto;
	border-radius: 50%;
}
#right-col h1 {
	font-family: serif;
    font-size: 50px;
    margin-bottom: 20px;
}
#right-col p {
	font-family: serif;
    font-size: 19px;
    line-height: 35px;
    text-align: justify;
}

/* My skills */
#skills {
	background-color: #e0fcfa;
}
#skills h2 {
	font-family: serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 40px;
}
#skills .row {
    text-align: center;
    padding: 40px;
    font-size: 100px;
}
#skills .row i:hover {
	color: #0077ff;
}

/* Portfolio */
#portfolio h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 40px;
}
#portfolio .row {
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
}
#portfolio a {
	text-decoration: none;
}

/* Contact */
#contact {
	background-color: #e0fcfa;
}
#contact h2 {
	text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 40px;
}
#contact #textarea {
	resize: none;
	overflow: hidden;
	min-height: 80px;
}
#contact .btn {
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #00c3ff;
	border: #00c3ff 1px solid;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 10px;
}

/* Connect */
#social-media {
	background-color: #e0fcfa;
}
#social-media {
	text-align: center;
}
.fa {
	font-size: 80px;
	padding: 40px;
	/* color: #00c3ff; */
}
.fa:hover {
	color: #31c5ff;
	text-decoration: none;
}