/* Menu */
.navbar-default {
	background: #191919;
	opacity: 0.8;
    border: 0;
    font-size: 18px;
}
#navbarCollapse a {
	color: #fff;
	transition: color 0.2s;
	padding: 7px 50px 7px 50px;
	text-transform: uppercase
}
#navbarCollapse a:hover {
	color: #86cfff;
}

/* Header */
#header {
	height: 100vh;
	background: url('../img/background.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.transbox {
	height: 100vh;
	background-color: #000;
	opacity: 0.7;
}
#header h1 {
	text-align: center;
	padding-top: 38vh;
	color: #fff;
	font-size: 90px;
	font-weight: bold;
}
#header h2 {
	text-align: center;
	color: #96afdf;
	font-size: 45px;
	font-family: Roboto Slab;
}
#header h4 {
	color: #f9f9f9;
	position: absolute;
	bottom: 80px;
	text-align: center;
	width: 100%;
	font-weight: bold;
}
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}
.arrows path {
	stroke: #f9f9f9;
	fill: transparent;
	stroke-width: 4px;
}

/* About me */
#about-me {
	padding: 50px 0;
}
#about-me h2 {
	font-family: 'Oswald', serif;
	text-align: center;
    padding-bottom: 60px;
    text-transform: uppercase;
	font-size: 60px;
	font-weight: 500;
}
#left-col img {
	width: 55%;
	height: auto;
	border-radius: 50%;
}
#right-col p {
	font-family: serif;
    font-size: 19px;
    line-height: 35px;
    text-align: justify;
}

/* My skills */
#skills {
	background-color: #191919;
}
#skills h2 {
	font-family: 'Oswald', serif;
	text-align: center;
	padding-top: 30px;
    text-transform: uppercase;
	font-size: 60px;
	font-weight: 500;
	color: #f9f9f9;
}

#skills span {
	color: #f9f9f9;
	font-size: 18px;
	font-weight: bold;
}
#skills .progress {
	height: 3px;
}
#skills .progress-bar {
	background-color: #4286f4;
}

/* Portfolio */
#portfolio h2 {
	font-family: 'Oswald', serif;
    text-align: center;
    padding: 50px 0px;
    text-transform: uppercase;
	font-size: 60px;
	font-weight: 500;
}
#portfolio a {
	text-decoration: none;
	color: #000;
}

/* Contact */
#contact {
	background-color: #191919;
	overflow: hidden;
}
#contact h2 {
	font-family: 'Oswald', serif;
	text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    text-transform: uppercase;
	font-size: 60px;
	font-weight: 500;
	color: #f9f9f9;
}
#contact label {
	font-size: 17px;
	color: #f9f9f9;
}
#contact #textarea {
	resize: none;
	overflow: hidden;
	min-height: 80px;
}
#contact .btn {
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: #f9f9f9;
	border: #f9f9f9 2px solid;
	padding: 10px 40px;
	border-radius: 10px;
	margin-top: 10px;
	float: right;
	transition: border-color 0.2s ease;
	transition: color 0.2 ease;
}
#contact .btn:hover {
	border-color: #86cfff;
	color: #86cfff;
}

/* Connect */
#social-media {
	background-color: #191919;
	text-align: center;
}
#social-media h2 {
	color: #f9f9f9;
    padding-top: 30px;
}
#social-media i {
	font-size: 80px;
	padding: 40px;
	transition: color 0.2s;
	color: #f9f9f9;
}
#social-media i:hover {
	color: #86cfff;
	text-decoration: none;
}

/* Footer */
footer {
	padding-top: 12px;
}


@media only screen and (max-width: 600px) {
	#header h1 {
		font-size: 60px;
	}

	#portfolio .row {
		font-size: 40px;
	}
}